<md-content>
    <h1>Stock graph</h1>
    <div id="container" style="height: 400px; min-width: 310px"></div>
    <div layout="column" layout-align="start center">
        <div ng-if="loaded" layout="column" layout-align="" class="md-padding">
            <h1>Stocks (added by <em>anyone</em>)</h1>
            <div  layout="row" layout-wrap>
                <stock stock="stock" stocks="stocks" ng-repeat="stock in stocks"></stock>
                <!--<input ng-model="stock.code" ng-change="stocks.$save(stock)"/>-->
                <!--<div class="ui search"></div>-->
                <!--<button ng-click="stocks.$remove(stock)">Delete</button>-->
            </div>
            <p>Add a stock</p>
            <form layout="row" ng-if="stocks.length < 5" ng-submit="addStock(selectedItem)">
                <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText"
                                 md-items="quote in find(searchText)" md-item-text='quote.symbol'
                                 placeholder="Enter stock code" md-autoselect="true">
                    <md-item-template>
                        <span md-highlight-text="searchText" md-highlight-flags="i">{{quote.symbol}}, {{quote.Name}} ({{quote.StockExchange}})</span>
                    </md-item-template>
                    <md-not-found>
                        No matches found.
                    </md-not-found>
                </md-autocomplete>
                <md-button class="md-primary md-raised" ng-click="addStock(selectedItem)" ng-disabled="!selectedItem">
                    Add Stock
                </md-button>
            </form>
        </div>
    </div>
</md-content>