<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{stock.code}}</span>
            <span class="md-subhead">{{stock.name}}</span>
        </md-card-title-text>
        <md-button class="md-icon-button" ng-click="stocks.$remove(stock)"><i class="material-icons">delete</i></md-button>
    </md-card-title>
</md-card>